.boxContainer {
  max-width: 1200px;
  margin: 50px auto 0;
}

.boxContainer header {
  display: flex;
  justify-content: center;
  align-items: center;
}


.boxContainer header form button {
    height: 30px;
    background: #7159c1;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #FFF;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    position: absolute;
    margin-top: -15px;
    margin-left: 150px;
}

.boxContainer header h1 {
  font-size: 21px;
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid #ddd;
}

.boxContainer header button svg {
  margin-right: 10px;
}

.boxContainer header button:hover {
  opacity: 0.9;
}

.boxContainer ul {
  margin: 30px 0;
  list-style: none;
}

.boxContainer ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding: 15px 20px;
}

.boxContainer ul li + li {
  border-top: 1px solid #eee;
  
}

.boxContainer ul li span {
  color: #999;
  font-size: 13px;
}

.fileInfo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fileInfo strong {
  font-weight: normal;
  font-size: 14px;
  margin-left: 10px;
  color: #333;
}

.upload {
  border-radius: 4px;
  padding: 30px;
  text-align: center;
  border: 1px dashed #ddd;
  color: #999;
  margin-top: 50px;
  cursor: pointer;
}


.boxContainer div form input {
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 10px;
}

.boxContainer div form button {
  height: 30px;
  background: #7159c1;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 10px;
  color: #FFF;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  margin-left: 30px;
}